---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/profil.jpg"
>

	<p>
		I'm David Herve, a programmer who likes things simple.
		Learning programming languages allows me to build systems in the most beautiful way possible, and that's what this site is all about.
		You can find me on GitHub or Linkedin. 
		If you want to find me in real life, I'm in Lyon.
	</p>

	<p>
		All code from the blog is available under MIT OR Apache-2.0 licences.
	</p>
</Layout>
