---
import Layout from '../layouts/BlogPost.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<style>

		img {
		  max-width: 30%;
		  height: auto;
			margin-right: 2em;
			border-radius: 12px;
		}

		@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 480px)
	  and (-webkit-min-device-pixel-ratio: 2) {
			img {
				display: none;
			}
		}

		.container {
			display: inline-flex;
		}

		main {
			background-color: var(--color-bg);
			height: 36rem;
		}

		.main {
			background-color: var(--color-bg);
			opacity: 1;
			background-image: radial-gradient(var(--color-bg-secondary) 1px, var(--color-bg) 1px);
			background-size: 20px 20px;
		}

		p {
			font-size: large;
		}


	</style>

	<body>
		<Header />
		<div class="main">
			<main style={{ 'margin-top': 0 }}>
				<h1>About</h1>
				<div class="container">
					<img width={1020} height={510} src="/profil.jpg" alt="profil image" />
					<div>
						<p style={{ margin: 0 }}>
							I'm David Herve, a programmer who likes simple things.
						</p>
						<div>
							<p>
								Learning programming languages allows me to build systems in the most beautiful way possible, and that's what this site is all about.
							</p>
							<p>
								You can find me on GitHub or Linkedin. 
								If you want to find me in real life, I'm in Lyon. 
							</p>
							<p>
								All code from the blog is available under MIT or Apache-2.0 licences.
							</p>
						</div>
					</div>
				</div>
			</main>
		</div>
		<Footer />
	</body>
</html>

