---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/" style={{"padding-left": 0}}>{SITE_TITLE}</a></h2>
		<div>
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/about" style={{'padding-right': 0}}>About</HeaderLink>
	
		</div>
	</nav>
</header>

<style>

	nav {
		margin: 0;
		padding: 0;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

</style>
