---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h1><a href="/" style={{"padding-left": 0}}>{SITE_TITLE}</a></h1>
		<div>
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/about" style={{'padding-right': 0}}>About</HeaderLink>
		</div>
	</nav>
	<hr>
</header>

<style>

	hr {
    margin: 0;
	}

	nav {
    margin: 0 auto;
		padding: 0 1rem;
    max-width: var(--width-content);
	}

	nav a {
		padding: 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

</style>
